<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
   	 	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


	<!-- Indica a spring quali sono i package in cui sono definiti i bean e 
		il framework è in grado di caricarli automaticamente all'iterno del contesto, 
		grazie ad alcune specifiche annotazioni -->
	<context:component-scan base-package="it.spring.toolbox.dao" />
	<context:component-scan base-package="it.spring.toolbox.service" />
	<context:component-scan base-package="it.spring.toolbox.controller" />

	<!-- Bean che va aggiunto per la gestione delle eccezioni a livello di persistenza -->
	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean class="org.springframework.orm.hibernate4.HibernateExceptionTranslator" />

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		lazy-init="false">
		<property name="locations">
			<list>
				<value>classpath:/properties/database.properties</value>
				<value>/WEB-INF/properties/security.properties</value>
			</list>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<!-- Crea automaticamente il database servendosi delle annotazioni nelle 
					classi nel package domain -->
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>

		<!-- Indica a Hibernate quale package contiene le classi con le annotazioni 
			per il mapping verso il db -->
		<property name="packagesToScan">
			<list>
				<value>it.spring.toolbox.domain</value>
			</list>
		</property>

	</bean>


	<!-- Bean che gestisce le transazioni in Hibernate -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- tag che serve per fare in modo che l'annotazione @Transactional funzioni -->
	<tx:annotation-driven transaction-manager="txManager" />

</beans>